<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="text-center">
        <h1>Edit Campground</h1>
    </div>
    <div class="col-6 offset-3">

        <form action="/campground/<%= campground._id %>/?_method=PATCH" method="POST" class="validation-form" enctype="multipart/form-data"
            novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Edit Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="
                    <%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Edit Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="
                    <%=campground.location %>" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
             
            <div class="mb-3">
                <label class="form-label" for="price">Edit Price</label>
                <div class="input-group  ">
                    <span class="input-group-text" id="price-label">$</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="price" name="campground[price]"
                            value=" <%= campground.price %>" required>
                        <div class="valid-feedback">
                            Looks Good
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Change Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description %> </textarea>
                <div class="valid-feedback">
                    Looks Good
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img,i){ %>
                   <img src="<%= img.thumbnail %>" alt="Campground Image <%= i+1 %>" class="img-thumbnail mb-2">
                   <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                   </div>
                   <label for="image-<%=i%>">Delete</label>
                   <% }) %>
            </div>
                   <div>
                     <label for="formFileLg" class="form-label">Upload Image</label>
                     <input class="form-control form-control-lg" name="image" id="formFileLg" type="file" multiple>
                   </div>
             
            <div class="mb-3"> <button class="btn btn-info">Submit</button></div>
        </form>
        <a href="/campground/<%= campground._id %>">Back to Campground</a>
    </div>
</div>